*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin


# Visual studio ignore
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Docker
Dockerfile
docker-compose.yaml

# Makefile
build/
CUDA/MS_CUDA/build
